<div class="card">

  <div class="card-header"><i class="fa-brands fa-artstation"></i> AUTORIZAR ORDEN DE COMPRA</div>

  <div [formGroup]="paged" class="card-body">

    <div formArrayName="lstFilter" class="row">

      <div [formGroupName]="0" class="col-1" hidden>
        <label for="filterId">ID AUTORIZADOR</label>
        <input formControlName="value" id="filterId" type="text" class="form-control form-control-sm" />
      </div>

      <div [formGroupName]="1" class="col-5">
        <label for="filterName">AUTORIZADOR</label>
        <input formControlName="value" id="filterName" type="text" class="form-control form-control-sm" readonly/>
      </div>

      <div [formGroupName]="2" class="col-2">
        <label for="filterState">ESTADO</label>
        <select formControlName="value" (change)="onChangeState()" id="filterState" class="form-select" autofocus>
          <option *ngFor="let option of setting.lstState" [value]="option.id">{{option.name}}</option>
        </select>
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-10">
        <div class="btn-group" role="group">
          <button (click)="search()" type="button" class="btn btn-primary"><i class="fas fa-search fa-lg"></i> Buscar</button>
          <button (click)="pending()" [hidden]="!setting.showButtonPending" type="button" class="btn btn-default" style="margin-left: .5rem;"><i class="far fa-file fa-lg"></i> Pendiente</button>
          <button (click)="authorize()" [hidden]="!setting.showButtonAuthorize" type="button" class="btn btn-default" style="margin-left: .5rem;"><i class="fa fa-check fa-lg"></i> Aprobar</button>
          <button (click)="reject()" [hidden]="!setting.showButtonReject" type="button" class="btn btn-default"><i class="fa fa-close fa-lg"></i> Rechazar</button>
        </div>
      </div>

      <div class="col-2 text-end">
        <input type="checkbox" #chkSelectAll id="chkSelectAll" (click)="selectAll($event)" class="form-check-input" style="margin-top: .6rem;">
        <label for="chkSelectAll" style="margin-top: .8rem;"> &nbsp; SELECCIONAR TODOS</label>
      </div>

    </div>

    <hr>
    <div class="container-tabla" tabindex="0">

      <div class="overflow-auto" [style.height.px]="table.hight">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              @for (item of table.lstColumn; track $index) {
                <th [width]="item.width" [ngClass]="item.style">{{item.name}}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (item of table.content; track item.id; let i = $index) {
              <tr [ngClass]="{'bg-seleccion' : setting.recordId == item.id}">
                <td class="td-table" [ngClass]="table.lstColumn[0].style"> {{ i + 1 + (table.pageSize * (table.pageNumber - 1)) }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[1].style"> {{ ("00000" + item.id).slice(-5) }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[2].style"> {{ item.proofPaymentType.name }}</td>
                <td class="td-table" [ngClass]="table.lstColumn[3].style"> {{ item.supplier.ruc + ' - ' + item.supplier.reasonSocial }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[4].style"> {{ item.paymentMethod.name }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[5].style"> {{ item.purchaseDate }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[6].style"> {{ item.currency.shortName }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[7].style"> {{ item.state.name }} </td>
                <td class="td-table" [ngClass]="table.lstColumn[8].style"> {{ item.salePrice | number: '1.2-2' }} </td>
                <td class="text-center" style="font-size: 14px; padding-top: 5px;">
                  <input name="chkSelect" (change)="selectRecord(item, $event)" type="checkbox">
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="panel-paginado">
        <div class="row">

          <div class="col-5">
            <label>
              <i class="far fa-clone"></i>&nbsp; Mostrando {{ table.startElement }} al {{ table.endElement }} de {{ table.totalElements }} registros
            </label>
          </div>

          <div class="col-2">
            <div class="row">
              <label class="col-7 text-end mt-2">Mostrar :</label>

              <div class="col-5">
                <select formControlName="pageSize" (change)="search()" class="form-select mt-1">
                  @for (item of table.lstPageSize; track $index) {
                    <option [value]="item.id">{{item.name}}</option>
                  }
                </select>
              </div>

            </div>
          </div>

          <div class="col-5">
            <ul class="pagination justify-content-end">
              @for (item of table.lstPageNumber; track $index) {
                <li class={{item.style}}>
                  <a (click)="paginationManager(item, table)" class="page-link">{{item.value}}</a>
                </li>
              }
            </ul>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
