@if (!setting.mainScreen) {

  <div class="card">

    <div class="card-header"><i class="fa-brands fa-artstation fa-lg"></i> ORDEN DE COMPRA</div>

    <div [formGroup]="paged" class="card-body">

      <div formArrayName="lstFilter" class="row">

        <div [formGroupName]="0" class="col-1">
          <label for="filterId">NUMERO</label>
          <input formControlName="value" id="filterId" #filterId type="text" class="form-control form-control-sm text-uppercase" maxlength="10" autocomplete="off"
            (keyup.enter)="search()" (keypress)="onKeyPressAlfaNumerico($event)" [ngClass]="{'is-invalid': paged.get('lstFilter')?.get('0')?.get('value')?.errors}" />

            @if (paged.get('lstFilter')?.get('0')?.get('value')?.hasError('pattern')) {<div class="invalid-feedback">Ingrese solo caracteres validos</div>}
        </div>

        <div [formGroupName]="1" class="col-2">
          <label for="filterType">TIPO COMPROBANTE</label>
          <select formControlName="value" id="filterType" (change)="search()" class="form-select">
            <option value="">[TODOS]</option>
            @for (item of setting.lstProofPaymentType; track $index) {
              <option [value]="item.id">{{item.name}}</option>
            }
          </select>
        </div>

        <div [formGroupName]="2" class="col-5">
          <label for="filterSupplier">PROVEEDOR</label>
          <div class="input-group">
            <input formControlName="value" type="text" hidden/>
            <input  [(ngModel)]="setting.filterSupplier" [ngModelOptions]="{standalone: true}" id="filterSupplier" type="text" class="form-control form-control-sm" readonly />
            <button (click)="searchSupplier()" type="button" class="btn btn-default btn-custom"><i class="fas fa-search"></i></button>
            <button (click)="cleanSupplier()" type="button" class="btn btn-default btn-custom" title="Limpiar filtro"><i class="fas fa-times"></i></button>
          </div>
        </div>

        <div [formGroupName]="3" class="col-2">
          <label for="filterRangeDate">RANGO DE FECHAS</label>
          <div class="input-group">
            <input formControlName="value" type="text" hidden/>
            <input [(ngModel)]="setting.filterRangeDate" [ngModelOptions]="{standalone: true}" id="filterRangeDate" type="text" class="form-control form-control-sm bg-white" maxlength="10"
              readonly [bsConfig]="{ containerClass: 'theme-dark-blue', isAnimated: true, showWeekNumbers:false }" #drp="bsDaterangepicker" bsDaterangepicker (bsValueChange)="onChangeRangeDate($event)" />

            <button (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen" type="button" class="btn btn-default btn-custom"><i class="far fa-calendar-alt"></i></button>
            <button (click)="cleanRangeDate()" type="button" class="btn btn-default btn-custom" title="Limpiar filtro"><i class="fas fa-times"></i></button>
          </div>
        </div>

        <div [formGroupName]="4" class="col-2">
          <label for="filterState">ESTADO</label>
          <select formControlName="value" id="filterState" (change)="search()" class="form-select">
            <option value="">[TODOS]</option>
            @for (item of setting.lstState; track $index) {
              <option [value]="item.id">{{item.name}}</option>
            }
          </select>
        </div>

      </div>

      <hr>
      <div class="btn-group" role="group">
        <button (click)="search()" type="button" class="btn btn-primary"><i class="fas fa-search fa-lg"></i> Buscar</button>
        <button (click)="create()" type="button" class="btn btn-default" style="margin-left: .5rem;"><i class="far fa-file fa-lg"></i> Nuevo</button>
        <button (click)="update()" [disabled]="setting.recordId == 0" type="button" class="btn btn-default"><i class="far fa-edit fa-lg"></i> Modificar</button>
        <button (click)="delete()" [disabled]="setting.recordId == 0 || setting.onlyView" type="button" class="btn btn-default"><i class="far fa-trash-alt fa-lg"></i> Anular</button>
        <button (click)="print()" [disabled]="setting.recordId == 0" type="button" class="btn btn-default"><i class="fas fa-print fa-lg"></i> Imprimir</button>
      </div>

      <hr>
      <div class="container-tabla" tabindex="0">

        <div class="overflow-auto" [style.height.px]="table.hight">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                @for (item of table.lstColumn; track $index) {
                  <th [width]="item.width" [ngClass]="item.style">{{item.name}}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (item of table.content; track item.id; let i = $index) {
                <tr [ngClass]="{'bg-seleccion' : setting.recordId == item.id}" (click)="selectRecord(item)" (dblclick)="update()">
                  <td class="td-table" [ngClass]="table.lstColumn[0].style"> {{ i + 1 + (table.pageSize * (table.pageNumber - 1)) }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[1].style"> {{ ("00000" + item.id).slice(-5) }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[2].style"> {{ item.proofPaymentType.name }}</td>
                  <td class="td-table" [ngClass]="table.lstColumn[3].style"> {{ item.supplier.ruc + ' - ' + item.supplier.reasonSocial }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[4].style"> {{ item.paymentMethod.name }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[5].style"> {{ item.purchaseDate }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[6].style"> {{ item.currency.shortName }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[7].style"> {{ item.saleValue | number: '1.2-2' }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[8].style"> {{ item.saleTax | number: '1.2-2' }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[9].style"> {{ item.salePrice | number: '1.2-2' }} </td>
                  <td class="td-table" [ngClass]="table.lstColumn[10].style"> {{ item.state.name }} </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <div class="panel-paginado">
          <div class="row">

            <div class="col-5">
              <label>
                <i class="far fa-clone"></i>&nbsp; Mostrando {{ table.startElement }} al {{ table.endElement }} de {{ table.totalElements }} registros
              </label>
            </div>

            <div class="col-2">
              <div class="row">
                <label class="col-7 text-end mt-2">Mostrar :</label>

                <div class="col-5">
                  <select formControlName="pageSize" (change)="search()" class="form-select mt-1">
                    @for (item of table.lstPageSize; track $index) {
                      <option [value]="item.id">{{item.name}}</option>
                    }
                  </select>
                </div>

              </div>
            </div>

            <div class="col-5">
              <ul class="pagination justify-content-end">
                @for (item of table.lstPageNumber; track $index) {
                  <li class={{item.style}}>
                    <a (click)="paginationManager(item, table)" class="page-link">{{item.value}}</a>
                  </li>
                }
              </ul>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

} @else {

  <div class="card">
    <div class="card-header"><i class="fa-brands fa-artstation fa-lg"></i> ORDEN DE COMPRA - {{ setting.operation }}</div>
    <div class="card-body">

      <div class="card">

        <div class="card-header card-header-registro">

          <div class="row">

            <div class="col-6">

              <div class="btn-group" role="group">
                @if (!setting.onlyView) {
                  @if (model.value.id == '') {
                    <button (click)="save()" type="button" class="btn btn-primary"><i class="far fa-save fa-lg"></i>&nbsp; Guardar &nbsp;</button>
                  }@else {
                    <button (click)="save()" type="button" class="btn btn-primary"><i class="far fa-save fa-lg"></i> Actualizar</button>
                  }
                }
                <button (click)="exit()" type="button" class="btn btn-default"><i class="fas fa-sign-out-alt fa-lg"></i> Salir &nbsp;&nbsp;</button>
              </div>

            </div>

            <div class="col-6 text-end" [style.color]="model.value.state.color">
              <i [ngClass]="model.value.state.icon"></i> &nbsp; <label class="fw-bold" style="font-size: 11px; margin-top: 6px;">{{ model.value.state.name }}</label>
            </div>

          </div>

        </div>

        <div class="card-body card-body-registro">

          <div [formGroup]="model">

            <div class="row">

              <div class="col-1">
                <label for="id">CÓDIGO</label>
                <input formControlName="id" id="id" type="text" class="form-control form-control-sm text-center bg-custom" readonly>
              </div>

              <div formGroupName="proofPaymentType" class="col-2">
                <label for="proofPaymentTypeId">TIPO COMPROBANTE</label>
                <select formControlName="id" id="proofPaymentTypeId" class="form-select" (change)="onChangeProofPaymentType()">
                  @for (item of setting.lstProofPaymentType; track $index) {
                    <option [value]="item.id">{{item.name}}</option>
                  }
                </select>
              </div>

              <div formGroupName="supplier" class="col-4">
                <label for="supplierRuc" class="col-3">RUC</label>
                <label for="supplierReasonSocial" class="col-9">RAZON SOCIAL</label>
                <div class="input-group">
                  <input formControlName="id" type="text" hidden/>
                  <input formControlName="ruc" id="supplierRuc" type="text" class="form-control form-control-sm bg-custom" readonly
                    [ngClass]="{'is-invalid': model.get('supplier')?.get('id')?.errors && model.get('supplier')?.get('id')?.touched}"/>

                  <input
                    formControlName="reasonSocial"
                    id="supplierReasonSocial"
                    type="text"
                    class="form-control form-control-sm text-uppercase w-50"
                    [ngClass]="{'is-invalid': model.get('supplier')?.get('id')?.errors && model.get('supplier')?.get('id')?.touched}"/>
                  <!-- <button (click)="searchSupplierReg()" type="button" class="btn btn-default btn-custom"><i class="fas fa-search"></i></button>
                  <button (click)="cleanSupplierReg()" type="button" class="btn btn-default btn-custom" title="Limpiar filtro"><i class="fas fa-times"></i></button> -->

                  @if (model.get('supplier')?.get('id')?.hasError('required')) {<div class="invalid-feedback">Campo requerido </div>}
                </div>
              </div>

              <div formGroupName="authorizer" class="col-3">
                <label for="authorizerName" class="col-12">AUTORIZADOR</label>
                <div class="input-group">
                  <input formControlName="id" type="text" hidden/>
                  <input formControlName="name" id="authorizerName" type="text" class="form-control form-control-sm" readonly
                    [ngClass]="{'is-invalid': model.get('authorizer')?.get('id')?.errors && model.get('authorizer')?.get('id')?.touched}" />
                  <!-- <button (click)="searchAuthorizerReg()" type="button" class="btn btn-default btn-custom"><i class="fas fa-search"></i></button>
                  <button (click)="cleanAuthorizerReg()" type="button" class="btn btn-default btn-custom" title="Limpiar filtro"><i class="fas fa-times"></i></button> -->

                  @if (model.get('authorizer')?.get('id')?.hasError('required')) {<div class="invalid-feedback">Campo requerido </div>}
                </div>
              </div>

              <div formGroupName="currency" class="col-1">
                <label for="currencyId">MONEDA</label>
                <select formControlName="id" id="currencyId" class="form-select" (change)="onChangeCurrency()">
                  @for (item of setting.lstCurrency; track $index) {
                    <option [value]="item.id">{{item.shortName}}</option>
                  }
                </select>
              </div>

              <div class="col-1">
                <label for="exchangeRate">TIPO CAMBIO</label>
                <input formControlName="exchangeRate" id="exchangeRate" type="text" class="form-control form-control-sm" maxlength="5">
              </div>

            </div>

            <div class="row mt-2">

              <div class="col-2">
                <label for="purchaseDate">FECHA COMPRA</label>
                <div class="input-group">
                  <input formControlName="purchaseDate" id="purchaseDate" type="text" class="form-control form-control-sm" maxlength="10"
                    [bsConfig]="{ containerClass: 'theme-dark-blue', isAnimated: true, showWeekNumbers:false }" #dp="bsDatepicker" bsDatepicker (keypress)="onKeyPressDate($event)"
                    (change)="onChangeInvalidDate($event)" [ngClass]="{'is-invalid': model.get('purchaseDate')?.errors && model.get('purchaseDate')?.touched}">
                  <button (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" type="button" class="btn btn-default btn-custom"><i class="far fa-calendar-alt"></i></button>

                  @if (model.get('purchaseDate')?.hasError('required')) {<div class="invalid-feedback">Campo requerido </div>}
                </div>
              </div>

              <div class="col-2">
                <label for="deliveryDate">FECHA ENTREGA</label>
                <div class="input-group">
                  <input formControlName="deliveryDate" id="deliveryDate" type="text" class="form-control form-control-sm" maxlength="10"
                    [bsConfig]="{ containerClass: 'theme-dark-blue', isAnimated: true, showWeekNumbers:false }" #dp1="bsDatepicker" bsDatepicker (keypress)="onKeyPressDate($event)"
                    (change)="onChangeInvalidDate($event)" [ngClass]="{'is-invalid': model.get('deliveryDate')?.errors && model.get('deliveryDate')?.touched}">
                  <button (click)="dp1.toggle()" [attr.aria-expanded]="dp.isOpen" type="button" class="btn btn-default btn-custom"><i class="far fa-calendar-alt"></i></button>

                  @if (model.get('deliveryDate')?.hasError('required')) {<div class="invalid-feedback">Campo requerido </div>}
                </div>
              </div>

              <div formGroupName="paymentMethod" class="col-1">
                <label for="paymentMethodId">FORMA PAGO</label>
                <select formControlName="id" id="paymentMethodId" class="form-select">
                  @for (item of setting.lstPaymentMethod; track $index) {
                    <option [value]="item.id">{{item.name}}</option>
                  }
                </select>
              </div>

              <div class="col-1">
                <label for="creditDays">DIAS CREDITO</label>
                <input formControlName="creditDays" id="creditDays" type="text" class="form-control form-control-sm" maxlength="3">
              </div>

              <div class="col-6">
                <label for="observation">OBSERVACIÓN</label>
                <input formControlName="observation" id="observation" type="text" class="form-control form-control-sm text-uppercase" maxlength="200">
              </div>

            </div>

            <div class="row" style="margin-top: .8rem;">
              <div class="col-auto"><label style="font-size: 0.65rem; color: #6785B8;"><b>LISTADO DE PRODUCTOS</b></label></div>
              <div class="col"><hr></div>
            </div>

            <div class="row">

              <div class="col-6">

                <div class="btn-group mt-2" role="group">

                  <button (click)="addItem()" #btnAgregar type="button" class="btn btn-default" title="Agregar registro">
                    <i class="fas fa-plus fa-lg"></i>&nbsp; Agregar
                  </button>

                  <button (click)="editItem()" [disabled]="setting.recordId2 == 0" #btnEditar type="button" class="btn btn-default" title="Editar registro">
                    <i class="fas fa-edit fa-lg"></i>&nbsp; Editar
                  </button>

                  <button (click)="removeItem()" [disabled]="setting.recordId2 == 0" #btnQuitar type="button" class="btn btn-danger" title="Quitar registro">
                    <i class="fas fa-trash fa-lg"></i>&nbsp; Quitar
                  </button>

                </div>

              </div>

              <div class="col-6 text-end">
                <input type="checkbox" #chkIncludeTax id="chkIncludeTax" (click)="includeTax($event)" class="form-check-input" style="margin-top: .6rem;">
                <label for="chkIncludeTax" style="margin-top: .8rem;"> &nbsp; INCLUYE IMPUESTO</label>
              </div>

            </div>

            <div class="container-tabla mt-2" tabindex="0">

              <div class="overflow-auto" [style.height.px]="table2.hight">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      @for (item of table2.lstColumn; track $index) {
                        <th [width]="item.width" [ngClass]="item.style">{{item.name}}</th>
                      }
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of table2.content; track item.id; let i = $index) {
                      <tr [ngClass]="{'bg-seleccion' : setting.recordId2 == item.product.id}" (click)="selectRecord2(item)">
                        <td class="td-table" [ngClass]="table2.lstColumn[0].style"> {{ i + 1 + (table2.pageSize * (table2.pageNumber - 1)) }} </td>
                        <td class="td-table" [ngClass]="table2.lstColumn[1].style">{{ item.product.id | number:'3.0'}}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[2].style">{{ item.product.name }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[3].style">{{ item.product.brand.name }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[4].style">{{ item.product.unitMeasure.name }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[5].style">{{ item.costCenter.name }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[6].style">{{ item.amount }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[7].style">{{ item.unitValue | number: '1.2-2' }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[8].style">{{ item.amount * item.unitValue | number: '1.2-2' }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[9].style">{{ item.amount * item.unitTax | number: '1.2-2' }}</td>
                        <td class="td-table" [ngClass]="table2.lstColumn[10].style">{{ item.amount * item.unitPrice | number: '1.2-2' }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>

              <div class="panel-paginado">
                <div class="row">

                  <div class="col-6">
                    <label>
                      <i class="far fa-clone"></i>&nbsp; Total de registros : {{ table2.totalElements }}
                    </label>
                  </div>

                  <div class="col-6">

                    <div class="row">

                      <div class="col-4">

                        <div class="row">

                          <div class="col-6 text-end">
                            <label class="fw-bold" for="saleValue" style="font-size:.56rem">VALOR VENTA ({{ setting.currencyAcronym }})</label>
                          </div>

                          <div class="col-6">
                            <input formControlName="saleValue"
                              [value]="model.get('saleValue')?.value | number: '1.2-2'" type="text"
                              class="form-control form-control-sm fw-bold bg-white text-end" readonly>
                          </div>

                        </div>

                      </div>

                      <div class="col-4">

                        <div class="row">

                          <div class="col-6 text-end">
                            <label class="fw-bold" for="saleTax" style="font-size:.56rem">IMPUESTO ({{ setting.currencyAcronym }})</label>
                          </div>

                          <div class="col-6">
                            <input formControlName="saleTax"
                              [value]="model.get('saleTax')?.value | number: '1.2-2'" type="text"
                              class="form-control form-control-sm fw-bold bg-white text-end" readonly>
                          </div>

                        </div>
                      </div>

                      <div class="col-4">

                        <div class="row">

                          <div class="col-6 text-end">
                            <label class="fw-bold" for="salePrice" style="font-size:.56rem">PRECIO VENTA ({{ setting.currencyAcronym }})</label>
                          </div>

                          <div class="col-6">
                            <input formControlName="salePrice"
                              [value]="model.get('salePrice')?.value | number: '1.2-2'" type="text"
                              class="form-control form-control-sm fw-bold bg-white text-end" readonly>
                          </div>

                        </div>

                      </div>


                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

}
