<ng-template #templateProduct let-model="item" let-index="index">
  {{("0000" + model.id).slice(-4)}} - {{ model.name }} , {{ model.brand.name }} {{ model.unitMeasure.name }}
</ng-template>

<div class="modal-header">
  <div class="modal-title"><i class="fa-brands fa-artstation"></i> EDITAR DETALLE</div>
  <button type="button" (click)="bsModalRef.hide()" class="btn-close" data-bs-dismiss="modal"
    aria-label="Close"></button>
</div>

<div class="modal-body">

  <div [formGroup]="model">

    <div class="row">
      <div class="col-auto"><label style="font-size: 0.65rem; color: #6785B8;"><b>INFORMACIÓN DEL PRODUCTO</b></label>
      </div>
      <div class="col">
        <hr>
      </div>
    </div>

    <div formGroupName="product">
      <label for="productId" class="col-1">CÓDIGO</label>
      <label for="productName" class="col-7">PRODUCTO</label>
      <label for="brand" class="col-2">MARCA</label>
      <label for="unidadMedida" class="col-2">UND. MEDIDA</label>
      <div class="input-group">
        <input formControlName="id" id="productId" type="text" class="form-control form-control-sm bg-custom" readonly
          tabindex="-1"
          [ngClass]="{'is-invalid': model.get('product')?.get('id')?.errors && model.get('product')?.get('id')?.touched}" />

        <input [typeahead]="dataProduct$" [typeaheadAsync]="true" [typeaheadMinLength]="2"
          [typeaheadItemTemplate]="templateProduct" (typeaheadOnSelect)="onSelectProduct($event)"
          (typeaheadLoading)="onLoadingProduct($event)" (typeaheadNoResults)="onNoResultsProduct($event)"
          (keydown)="onKeyDownProduct($event)" formControlName="name" id="productName" #productName type="text"
          class="form-control form-control-sm w-50 text-uppercase"
          [ngClass]="{'is-invalid': model.get('product')?.get('id')?.errors && model.get('product')?.get('id')?.touched}" />

        <div formGroupName="brand">
          <input formControlName="name" id="name" type="text" class="form-control form-control-sm bg-white" readonly
            tabindex="-1"
            [ngClass]="{'is-invalid': model.get('product')?.get('id')?.errors && model.get('product')?.get('id')?.touched}" />
        </div>

        <div formGroupName="unitMeasure">
          <input formControlName="name" id="name" type="text" class="form-control form-control-sm bg-white" readonly
            tabindex="-1"
            [ngClass]="{'is-invalid': model.get('product')?.get('id')?.errors && model.get('product')?.get('id')?.touched}" />
        </div>

        <button (click)="searchProduct()" type="button" class="btn btn-default btn-custom" tabindex="-1"><i
            class="fas fa-search"></i></button>
        <button (click)="cleanProduct()" type="button" class="btn btn-default btn-custom" title="Limpiar filtro"
          tabindex="-1"><i class="fas fa-times"></i></button>
        @if (model.get('product')?.get('id')?.errors) {
        <div class="invalid-feedback">
          @if (model.get('product')?.get('id')?.hasError('required')) {<div>Campo requerido </div>}
        </div>
        }
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-auto"><label style="font-size: 0.65rem; color: #6785B8;"><b>INFORMACIÓN DEL CENTRO DE
            COSTOS</b></label></div>
      <div class="col">
        <hr>
      </div>
    </div>

    <div formGroupName="costCenter" class="col-8">
      <label for="costCenterName">CENTRO DE COSTOS</label>
      <div class="input-group">
        <input formControlName="id" type="text" hidden />
        <input [typeahead]="dataCostCenter$" [typeaheadAsync]="true" [typeaheadMinLength]="2"
          (typeaheadOnSelect)="onSelectCostCenter($event)" (typeaheadLoading)="onLoadingCostCenter($event)"
          (typeaheadNoResults)="onNoResultsCostCenter($event)" (keydown)="onKeyDownCostCenter($event)"
          typeaheadOptionField="name" formControlName="name" id="costCenterName" #costCenterName type="text"
          class="form-control form-control-sm text-uppercase"
          [ngClass]="{'is-invalid': model.get('costCenter')?.get('id')?.errors && model.get('costCenter')?.get('id')?.touched}" />
        <button (click)="searchCostCenter()" type="button" class="btn btn-default btn-custom" tabindex="-1"><i
            class="fas fa-search"></i></button>
        <button (click)="cleanCostCenter()" type="button" class="btn btn-default btn-custom" title="Limpiar filtro"
          tabindex="-1"><i class="fas fa-times"></i></button>
        <!-- @if(errorCostCenter) { <div class="alert alert-danger" role="alert" style="font-size: .7rem;">{{ errorCostCenter }}</div> }
          @if(loadingCostCenter) { <div class="text-primary" style="font-size: .7rem;">Cargando...</div> }
          @if(noResultCostCenter) { <div class="text-danger" style="font-size: .7rem;">No se encontraron resultados</div> } -->
        @if (model.get('costCenter')?.get('id')?.hasError('required')) {<div class="invalid-feedback">Campo requerido
        </div>}
      </div>
    </div>

    <hr style="margin-top: 20px;">
    <div class="row mt-1">

      <div class="col-2">
        <label for="amount">CANTIDAD</label>
        <input formControlName="amount" id="amount" #amount type="text" maxlength="5"
          class="form-control form-control-sm" (keydown)="onKeyDownAmount($event)"
          (keypress)="onKeyPressNumeros($event)"
          [ngClass]="{'is-invalid':model.get('amount')?.errors && model.get('amount')?.touched}">
        @if (model.get('amount')?.hasError('required')) {<div class="invalid-feedback">Campo requerido</div>}
      </div>

      <div class="col-2">
        <label for="unitValue">VALOR UNITARIO</label>
        <input formControlName="unitValue" id="unitValue" #unitValue type="text" maxlength="11"
          class="form-control form-control-sm" (keydown)="onKeyDownUnitValue($event)"
          (keypress)="onKeyPressDecimales($event)"
          [ngClass]="{'is-invalid':model.get('unitValue')?.errors && model.get('unitValue')?.touched}">
        @if (model.get('unitValue')?.hasError('required')) {<div class="invalid-feedback">Campo requerido</div>}
      </div>

      <div class="col-3">
        <label for="subTotal">SUB TOTAL</label>
        <input formControlName="subTotal" id="subTotal" type="text"
          class="form-control form-control-sm bg-light text-right" readonly tabindex="-1">
      </div>

    </div>

    <br>

  </div>

</div>

<div class="modal-footer">
  <button (click)="confirm()" #btnConfirm type="button" class="btn btn-sm btn-outline-primary">Confirmar</button>
  <button (click)="cancel()" type="button" class="btn btn-sm btn-link">Cancelar</button>
</div>
